{% extends 'shared/master.html' %}

{% block body %}
<div class="page-address">
    <div class="text-center">
        <ul class="list-inline">
            <li>خانه</li>
            <li>
                <i class="fas fa-arrow-left"></i>
            </li>
            <li>{{ view.title }}</li>
        </ul>
        <h1>{{ view.title }}</h1>
    </div>
</div>
<main style="padding: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">      
                <div class="panel panel-info">
                    <div class="panel-heading">
                            <h3 class="panel-title text-center">فرم {{ view.title }}</h3>
                    </div>
                    <p>رمز عبور شما با موفقیت انجام شد.</p>
                    <a href="{% url 'accounts:signin' %}">به صفحه ورود بروید و مجددا وارد حساب کاربری خود شوید.</a>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</main>
{% endblock %}