{% extends 'shared/master.html' %}

{% block body %}
<div class="page-address">
    <div class="text-center">
        <ul class="list-inline">
            <li>خانه</li>
            <li>
                <i class="fas fa-arrow-left"></i>
            </li>
            <li>{{ view.title }}</li>
        </ul>
        <h1>{{ view.title }}</h1>
    </div>
</div>
<main style="padding: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">      
                <div class="panel panel-info">
                    <div class="panel-heading">
                            <h3 class="panel-title text-center">فرم {{ view.title }}</h3>
                    </div>
                    <p>یک ایمیل حاوی تنظیمات رمز عبور، برای شما درصورتیکه حساب کاربری در وب سایت ما داشته باشید، ارسال شد.</p>
                    <p>اگر شما ایمیلی دریافت نکرده اید، ابتدا مطمئن شوید که ایمیل آدرس را درست وارد کرده اید و پوشه اسپم خود را نیز بررسی نمایید.</p>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</main>
{% endblock %}