{% load static %}

<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>فروشگاه لباس</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="{% static 'assets/rtl.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendors/bootsnav/css/bootsnav.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendors/owlcarousel/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendors/owlcarousel/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendors/owlcarousel/owl.video.play.png' %}" rel="stylesheet">
    <link href="{% static 'assets/main.css' %}" rel="stylesheet">
    {% block styles %}
    {% endblock %}

    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <script src='https://www.google.com/recaptcha/api.js?render=6LfQpIYUAAAAAEKxoRggDbao0oI-amC4Qybn0BJ0'></script>
</head>


<body>
<header>
    {% include 'partials/_header.html' %}
</header> 
    {% include 'partials/_nav.html'%}
    
    
    
{% block body %}
{% endblock %}






{% include 'partials/_footer.html' %}



 <!-- jQuery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <!-- Bootstrap JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
 <script src="{% static 'assets/vendors/owlcarousel/owl.carousel.min.js' %}"></script>
 <script>
     $(document).ready(function () {
         $(".owl-carousel").owlCarousel({
             nav: true,
             items:2,
             loop: true,
             margin: 10,
             navText: ['بعدی', 'قبلی'],
             dots: false,
             lazyLoad: true,
             animateIn: true,
             animateOut: true,
         });
     });
 </script>
 <script>
     $(document).ready(function () {
         $(".owl-companies").owlCarousel({
             items:6,
             loop: true,
             margin: 10,
             dots: false,
             lazyLoad: true,
             animateIn: true,
             animateOut: true,
         });
     });
 </script>

    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('6LfQpIYUAAAAAEKxoRggDbao0oI-amC4Qybn0BJ0', {action: 'action_name'})
            .then(function(token) {
            // Verify the token on the server.
            });
        });
    </script>


{% block scripts %}
{% endblock %}
</body>
</html>


   
   

 

   
   

    
    
   

   