<footer>
    <div class="container">
        <div class="col-md-4">
            <form action="" method="POST" class="form-horizontal text-right" role="form">
                <div class="form-group">
                    <h3 class="text-right">
                        <legend>فرم تماس با ما</legend>
                    </h3>
                </div>
                <div class="form-group">
                    <label for="usr">نام و نام خانوادگی</label>
                    <input type="text" required="required" pattern="^[a-z]+$" oninvalid="this.setCustomValidity('لطفا تمامی کاراکتر ها از حروف تشکیل شده باشد.')"
                        oninput="setCustomValidity('')" class="form-control" id="usr">

                </div>
                <div class="form-group">
                    <label for="usr">ایمیل</label>
                    <input type="email" name="usr" id="usr" class="form-control" value="" required="required" title=""
                        oninvalid="this.setCustomValidity('لطفا ایمیلتان را به درستی وارد نمایید')" oninput="setCustomValidity('')"
                        onchange="setCustomValidity('')">
                </div>
                <div class="form-group">
                    <label for="comment">پیام</label>
                    <textarea class="form-control" rows="5" id="comment" oninvalid="this.setCustomValidity('این فیلد اجباری است')"
                        oninput="setCustomValidity('')"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Submit</button>
                </div>
            </form>

        </div>
        <div class="col-md-4">
            <h3 class="text-right" style="margin-bottom: 50px;">
                <legend>مهم ترین اخبار</legend>
            </h3>
            <ul class="list-unstyled">
                <li><a href=""><i style="position: relative; top:2px;" class="fas fa-arrow-left"></i> یک عنوان خبری
                        جالب اینجا است.</a></li>
                <li><a href=""><i style="position: relative; top:2px;" class="fas fa-arrow-left"></i> یک عنوان خبری
                        جالب اینجا است.</a></li>
                <li><a href=""><i style="position: relative; top:2px;" class="fas fa-arrow-left"></i> یک عنوان خبری
                        جالب اینجا است.</a></li>
                <li><a href=""><i style="position: relative; top:2px;" class="fas fa-arrow-left"></i> یک عنوان خبری
                        جالب اینجا است.</a></li>
                <li><a href=""><i style="position: relative; top:2px;" class="fas fa-arrow-left"></i> یک عنوان خبری
                        جالب اینجا است.</a></li>
                <li><a href=""><i style="position: relative; top:2px;" class="fas fa-arrow-left"></i> یک عنوان خبری
                        جالب اینجا است.</a></li>
                <li><a href=""><i style="position: relative; top:2px;" class="fas fa-arrow-left"></i> یک عنوان خبری
                        جالب اینجا است.</a></li>
                <li><a href=""><i style="position: relative; top:2px;" class="fas fa-arrow-left"></i> یک عنوان خبری
                        جالب اینجا است.</a></li>
                <li><a href=""><i style="position: relative; top:2px;" class="fas fa-arrow-left"></i> یک عنوان خبری
                        جالب اینجا است.</a></li>
                <li><a href=""><i style="position: relative; top:2px;" class="fas fa-arrow-left"></i> یک عنوان خبری
                        جالب اینجا است.</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3 class="text-right" style="margin-bottom: 50px;">
                <legend>درباره ما</legend>
            </h3>
            <article>
                <img style="width: 150px; height: 150px;" src="img/logo paravid.png" class="img-responsive" alt="Image" />
                <p class="text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                    طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                    فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در
                    شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت
                    بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
            </article>
        </div>
    </div>
</footer>
<div class="copy-right">
    <div class="container">
        <div class="text-center">
            <p>copy right 2018 - این قالب انحصارا برای دوره آموزشی پرآوید طراحی شده است.</p>
        </div>
    </div>
</div>