{% load widget_tweaks %}
<form method="POST" class="form-horizontal eagle" role="form" data-url='{{ request.build_absolute_uri|safe }}'>
    <div style="padding:50px;" class="panel-body">
        {% csrf_token %}

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="bg-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}

        {% for hidden_field in form.hidden_fields %}
            {% if hidden_field.errors %}
                {% for error in hidden_field.errors %}
                    <p class="bg-danger">( {{ hidden_field.name }} ): {{ error }}</p>
                {% endfor %}
            {% endif %}
            {{ hidden_field }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {% if form.is_bound %} 
                {% if field.errors %}
                    <div class="form-group has-error">
                        <label style="font-weight: 300;" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {% render_field field class="form-control" %} 
                    </div>
                    {% for error in field.errors %}
                        <small class="text-danger">{{ error }} </small>
                    {% endfor %} 
                {% else %}
                    <div class="form-group has-success">
                        <label style="font-weight: 300;" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {% render_field field class="form-control has-success" %} 
                    </div>
                {% endif %} 
            {% else %}
                <div class="form-group">
                    <label style="font-weight: 300;" for="{{ field.auto_id }}">{{ field.label }}</label>
                    {% render_field field class="form-control disabled" %} 
                </div>
            {% endif %}
        {% endfor %}
        <!-- <div class="g-recaptcha" data-sitekey="6LejpYYUAAAAAKDf2oYsvdrdk6pqUYaRnH8YntBJ"></div> -->
        
        {% if view.title == 'ورود' %}
          <a href="{% url 'accounts:password_reset' %}">آیا رمز عبور خود را فراموش کرده اید؟</a>
        {% endif %}

    </div>
    <div style="padding-left:50px; padding-right:50px;" class="panel-footer">
        <div class="form-group">
            <button type="submit" class="btn btn-info btn-block">ارسال پیام</button>
        </div>
    </div>
</form>